{% extends "base.html" %}
{% load strings %}

{% block title %} Oops! Nothing found.{% endblock %}

{% block content %}
	<h2 class="center">Error 404 - Not Found</h2>
	<!-- SiteSearch Google -->
	<form method="get" action="http://www.google.cn/custom" target="_top">
	<table border="0" bgcolor="#ffffff">
	<tr><td nowrap="nowrap" valign="top" align="left" height="32">
	<a href="http://www.google.com/">
	<img src="http://www.google.com/logos/Logo_25wht.gif" border="0" alt="Google" align="middle"></img></a>
	</td>
	<td nowrap="nowrap">
	<input type="hidden" name="domains" value={% website %}></input>
	<label for="sbi" style="display: none">输入您的搜索字词</label>
	<input type="text" name="q" size="31" maxlength="255" value="" id="sbi"></input>
	<label for="sbb" style="display: none">提交搜索表单</label>
	<input type="submit" name="sa" value="搜索" id="sbb"></input>
	</td></tr>
	<tr>
	<td>&nbsp;</td>
	<td nowrap="nowrap">
	<table>
	<tr>
	<td>
	<input type="radio" name="sitesearch" value="" id="ss0"></input>
	<label for="ss0" title="搜索网络"><font size="-1" color="black">Web</font></label></td>
	<td>
	<input type="radio" name="sitesearch" value={% website %} checked id="ss1"></input>
	<label for="ss1" title="搜索" {% website %}><font size="-1" color="black">{% website %}</font></label></td>
	</tr>
	</table>
	<input type="hidden" name="client" value="pub-5844041942806643"></input>
	<input type="hidden" name="forid" value="1"></input>
	<input type="hidden" name="channel" value="3143280499"></input>
	<input type="hidden" name="ie" value="GB2312"></input>
	<input type="hidden" name="oe" value="GB2312"></input>
	<input type="hidden" name="safe" value="active"></input>
	<input type="hidden" name="cof" value="GALT:#008000;GL:1;DIV:#336699;VLC:663399;AH:center;BGC:FFFFFF;LBGC:336699;ALC:0000FF;LC:0000FF;T:000000;GFNT:0000FF;GIMP:0000FF;FORID:1"></input>
	<input type="hidden" name="hl" value="zh-CN"></input>
	</td></tr></table>
	</form>
	<!-- SiteSearch Google -->
{% endblock %}
